* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Press Start 2P', cursive;
    color: white;
    background: black;
    overflow: hidden;
}

/*      bouton      */
.bouton{
    padding: 10px;
    border: 2px solid white;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}
.bouton:hover{
    cursor: pointer;
}
/****************************************************
*                       nav                         *
****************************************************/
nav{
    position: absolute;
    height: 5vh;
    width: 100%;
}
nav ul{
    display: flex;
    list-style-type: none;
    overflow: hidden;
}
nav li{
    display: none;
    padding: 15px 15px;
    float: right;
    width: 25vw;
}
#gamename{
    display: block;
    font-size: 2em;
    float: left;
    width: 50vw;
    text-align: center;
    margin-top: 35vh;
    margin-left: 25%;
}
nav div{
    width: auto;
    padding: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#progress{
    background: grey;
    height: 5px;
    width: 50%;
}
#progressniveau{
    position: absolute;
    left: 0;
    background: red;
    height: 100%;
    width: 10%;
}
/****************************************************
*                     Section                       *
****************************************************/
section{
    display: flex;
    height: 100%;
    width: 100%;
    background: black;
    overflow: hidden;
}
article{
    height: 80vh;
    width: 90%;
    margin: 10vh;
    border: 2px solid white
}
/*              jeu                 */
#jeu{
    display: none;
    width: 0px;
    height: 0px;
    position: fixed;
    left: 50%;
    top: 50%; 
}
#boxsupp{
    position: absolute;
    top: 0px;
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-content: space-around;
}
#boxsupp img{
    position: absolute;
    left: 10%;
    bottom: 10%;
    height: 80%;
    width: auto;
}
#boxinf{
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 30%;
    border-color: white;
    border-style: solid;
    border-width: 2px 0px 0px 0px ;   
}
.parttexte{

}
.parttexte p,#pasintro p{
    position: absolute;
    left: 10%;
    top: 20%;
    max-width: 60%;
}
.partbouton{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 40%;
}

/****************************************************
                    gameover
****************************************************/
#gameover{
    display: none; /*soit flex soit none*/
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
#gameover p{
    position: absolute;
    top: 45%;
    font-size: 0em;
}
#win{
    display: none; /*soit flex soit none*/
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
#win p{
    position: absolute;
    top: 45%;
    font-size: 0em;
}
.rejouer{
    position: absolute;
    top: 60%;
}

/************************************************
                introduction                    *
*************************************************/
#introduction{
    display: none;
}

/************************************************
                    game                        *
*************************************************/
.porte{
    display: block;
    width: calc(80% / 5);
    height: calc(80% - 20px);
    background-image: url(../images/porte.png);
    background-size: cover;
    background-position: center;
    margin: auto;
    color: black;
    padding-top: 40px;
    text-align: center;
    font-size: 0.6em;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}
.porte:hover{
    cursor: pointer;
    background-image: url(../images/porte_ouverte.png);    
}

/************************************************
                générals                        *
*************************************************/
.message{
    display: none;
}